<div class="row">
  <div class="col-sm-12">
    <h1> Personal Details :</h1>
      <div class="form-group">
         
           <label for="username">UserName : </label>
             {{userdata.username}}<br/>
        
      </div>
      <div class="form-group">
         
           <label for="username">FirstName : </label>
      
         {{userdata.firstName}}<br/>
      </div>
      <div class="form-group">
         
           <label for="username">LastName : </label>
           {{userdata.lastName}}<br/>
      </div>
      <div class="form-group">
         
           <label for="username">Profession : </label>
         {{userdata.Profession}}<br/>
      </div>
      <div class="form-group">
         
           <label for="username">Bio : </label>
         {{userdata.Bio}}<br/>
      </div>

      

  </div>
</div>



    
